html{background-image:url('puuung-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    line-height: 1;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    }